<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omelchenkoaleks.services">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="._005_send_data_pending_intent.SendDataPendingIntentActivity" />

        <activity android:name="._004_service_data.ServiceDataActivity" />
        <activity android:name="._002_service_lifecycle.ServiceLifecycleActivity" />
        <activity android:name="._003_simple_service.SimpleServiceActivity" />
        <activity android:name="._001_start_service.StartServiceActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="._005_send_data_pending_intent.SendDataService" />
        <service android:name="._004_service_data.ServiceData" />
        <service android:name="._003_simple_service.MyService" />
        <service android:name="._002_service_lifecycle.MyService" />
        <service android:name="._001_start_service.MyService" />
    </application>

</manifest>